<div class="navbar-header" [ngClass]="kitConfig.layout.navbar.secondaryBackground">

  <div class="logo">
    <img class="logo-icon" src="assets/images/logos/angular.svg">
    <span class="logo-text">*Ng-Kit</span>
  </div>

  <button mat-icon-button class="toggle-sidebar-folded"
          (click)="toggleSidebarFolded()" fxHide.lt-lg>
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button class="toggle-sidebar-opened"
          (click)="toggleSidebarOpened()" fxHide.gt-md>
    <mat-icon>arrow_back</mat-icon>
  </button>

</div>

<div class="navbar-content" appKitPerfectScroll [ngClass]="kitConfig.layout.navbar.primaryBackground">
  <app-navigation layout="vertical"></app-navigation>
</div>
